@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*MAIN PAGE STYLES*/
  .main_wrapper {
    @apply h-screen flex w-screen  bg-orange-50 absolute -z-20;
  }

  .main_nameWrapper {
    @apply w-full  absolute flex  items-end justify-center md:block  top-[10vmax] md:right-[3vmax] md:bottom-[1vmax]  sm:mt-0;
  }

  .main_nameStyle {
    @apply text-green-100 md:absolute h-20 text-4xl md:text-[6vmin] md:bottom-0 md:left-[18vmax]  font-['Italianno','cursive']  opacity-0;
  }
  .main_contentWrapper {
    @apply w-screen overflow-hidden relative flex justify-center;
  }

  .lengSwitcher_wrapper {
    @apply z-50 absolute top-6 right-10;
  }

  .sun_wrapper {
    @apply md:mr-[10vmax]  container absolute items-center  justify-center  h-screen flex;
  }

  .main_image {
    @apply hidden md:block absolute md:w-screen sm:absolute sm:h-screen sm:bg-contain;
  }

  .main_imageMobile {
    @apply w-screen absolute h-screen bg-contain bg-no-repeat -z-10;
  }

  /*ABOUT ME STYLES*/
  .aboutMe_wrapper {
    @apply flex h-screen w-screen  justify-center absolute bg-green-50;
  }

  .aboutMeContent_wrapper {
    @apply p-[4vmin] 2xl:p-[2vmax]  z-20 rounded-tl-3xl   rounded-br-3xl self-center  h-[80vmax] sm:h-[80vmin]     w-5/6 lg:w-[60vmax] bg-white   shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }

  .aboutMe_h1 {
    @apply italic font-bold text-green-600 text-xl 2xl:text-[2vmax];
  }

  .aboutMeText_wrapper {
    @apply flex w-full flex flex-col lg:flex-row gap-10 mt-[3vmax];
  }

  .aboutMeImage_wrapper {
    @apply flex justify-center 2xl:w-[15vmax];
  }

  .aboutMe_image {
    @apply object-cover rounded-tl-3xl w-52 md:w-64 2xl:w-[15vmax] rounded-br-3xl;
  }

  /*CALCULATOR STYLES*/
  .calculator_wrapper {
    @apply w-screen h-screen flex justify-center;
  }
  .calculator_contentWrapper {
    @apply h-screen z-10 w-5/6 sm:w-full sm:justify-center  flex items-center;
  }
  .calculatorMainContent_wrapper {
    @apply w-full sm:w-1/3 h-[80vmax] sm:h-[80vmin] grid grid-cols-1  gap-2 items-center bg-white rounded-tl-3xl  rounded-br-3xl shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .calculator_h1 {
    @apply inline-block font-bold italic  text-green-600 text-xl  place-self-center m-4 text-[4vmin] sm:text-[1.5vmax];
  }
  .calculatorContentStyle_wrapper {
    @apply grid  grid-cols-1 gap-2 sm:gap-3 place-self-center self-start  place-items-center;
  }
  .calculator_heightLabel {
    @apply italic text-[4vmin] sm:text-[1.2vmax] text-green-700 font-semibold;
  }
  .calculator_heightNumber {
    @apply w-12 border-2 rounded border-sky-300  pl-1 w-[10vmin] sm:w-[4vmax] text-[4vmin] sm:text-[1.2vmax];
  }
  .calculator_weightLabel {
    @apply italic text-[4vmin] sm:text-[1.2vmax] text-green-700 font-semibold;
  }
  .calculator_weightNumber {
    @apply w-12 border-2 rounded border-sky-300 pl-1 w-[10vmin] sm:w-[4vmax] text-[4vmin] sm:text-[1.2vmax];
  }
  .calculator_buttonReset {
    @apply text-[3vmin] text-[4vmin] sm:text-[1vmax] text-blue-300 font-semibold border-2 border-sky-700 rounded-tl-lg  rounded-br-lg   bg-green-200 hover:bg-orange-400 mt-4 transition duration-150 ease-out hover:ease-in;
  }
  .calculator_bmi {
    @apply text-[4vmin] sm:text-[1.2vmax]  italic text-green-700 font-semibold;
  }
  .calculator_mainImage {
    @apply blur-[3px] absolute z-0 w-screen h-screen;
  }
  .calculator_noIndexImage {
    @apply w-24  xl:w-[14vmin] h-[52];
  }
  .calculator_result {
    @apply  w-7 ml-2 inline-block align-bottom   text-sky-600 font-semibold text-[5vmin] sm:text-[1.5vmax] italic;
  }


  /*ACHIEVEMENT STYLES*/
  .achievement_wrapper {
    @apply flex h-screen  justify-center items-center;
  }
  .achievement_contentWrapper {
    @apply h-[65vmax] sm:h-[80vmin] w-5/6 relative p-5 2xl:p-[2vmax]  sm:w-1/2 rounded-tl-3xl  rounded-br-3xl  z-10 bg-white  flex justify-center items-center  shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .achievement_mainImage {
    @apply absolute w-screen h-screen;
  }
  .achievement_textWrapper {
    @apply pb-5 absolute top-10 2xl:top-[3vmax];
  }
  .achievement_h1 {
    @apply text-center  italic font-bold text-green-600 text-xl 2xl:text-[1.5vmax];
  }
  .achievement_carouselWrapper {
    @apply flex flex-col w-full items-center justify-center;
  }

  /*CAROUSEL STYLES */
  .carousel_wrapper {
    @apply flex gap-6 w-full;
  }
  .carouselRightArrow_wrapper {
    @apply md:text-xl cursor-pointer flex items-center;
  }
  .carouselRightArrow_div {
    @apply w-6 h-6   rounded-full 2xl:w-[1.6vmax] hover:scale-150 duration-200;
  }
  .carouselRightArrow_image {
    @apply 2xl:w-[1.6vmax]   rounded-full;
  }
  .carousel_midDiv {
    @apply z-10  flex     shadow-[0_0_10px_2px_rgba(0,0,0,0.6)] rounded-xl hover:shadow-sky-500 duration-200  cursor-zoom-in;
  }
  .carousel_sideDivs {
    @apply hidden    lg:block   rounded-xl  self-center   shadow-[0_0_10px_2px_rgba(0,0,0,0.6)]  hover:shadow-sky-200 duration-200;
  }
  .carousel_midImage {
    @apply opacity-100   object-contain  rounded-xl;
  }
  .carousel_sideImages {
    @apply opacity-30  object-contain w-full  rounded-xl;
  }
  .carouselLeftArrow_wrapper {
    @apply flex items-center md:text-xl cursor-pointer;
  }
  .carouselLeftArrow_div {
    @apply w-6 h-6 rounded-full 2xl:w-[1.6vmax]   hover:scale-150 duration-200;
  }
  .carouselLefttArrow_image {
    @apply rotate-180 2xl:w-[1.6vmax] rounded-full;
  }

  /*FORM PAGE STYLES */
  .form_wrapper {
    @apply h-screen  w-screen flex justify-center bg-green-50;
  }
  .form_mainImage {
    @apply w-screen h-screen absolute;
  }
  .formContent_wrapper {
    @apply w-3/4 md:w-2/5 self-center  items-center;
  }
  .form_mainText {
    @apply text-center font-bold  text-[6vmin]  sm:text-[2.3vmax] text-green-600 font-semibold italic drop-shadow-lg;
  }
  .form_dialog {
    @apply justify-center items-center w-[50vmax] lg:w-[35vmax]  rounded-2xl text-orange-500 text-xl;
  }
  .form_dialogClose {
    @apply text-[2vmax]   absolute right-2 top-0 text-black;
  }
  .form_dialogSendText {
    @apply text-[3vmin]  md:text-[1.5vmax]  text-center;
  }
  .formMainContent_wrapper {
    @apply grid grid-cols-2 gap-[1vmax] 2xl:gap-[1.5vmax];
  }
  .form_input {
    @apply 2xl:h-[3vmax] text-[1vmax]   drop-shadow-lg italic border-4  px-4 py-2  bg-stone-100  focus:outline-none transition duration-150 ease-out hover:ease-in  border-[#b9d4b3]  hover:border-b-orange-300 hover:border-r-orange-300 focus:border-orange-300 rounded-tl-3xl  rounded-br-3xl;
  }
  .form_textArea {
    @apply drop-shadow-lg text-[1vmax]  italic border-4 border-[#b9d4b3] px-4 py-2 bg-stone-100  focus:outline-none transition duration-150 ease-out hover:ease-in    hover:border-b-orange-300 hover:border-r-orange-300 focus:border-orange-300 col-span-2 rounded-tl-3xl  rounded-br-3xl;
  }
  .form_date {
    @apply 2xl:h-[3vmax] 2xl:w-[10vmax]  text-[1vmax]  w-40  drop-shadow-lg  border-4 border-[#b9d4b3] bg-stone-100  px-4 mt-2 py-2 transition duration-150 ease-out hover:ease-in focus:outline-none   hover:border-b-orange-300 hover:border-r-orange-300 focus:border-orange-300 rounded-tl-3xl  rounded-br-3xl;
  }
  .form_button {
    @apply 2xl:h-[3vmax] text-[1vmax]  text-center  drop-shadow-lg  duration-150 italic focus:outline-none mt-5 bg-[#b9d4b3] border-4 border-[#b9d4b3] px-4 py-2 text-black font-bold w-full rounded-tl-3xl  rounded-br-3xl   hover:border-b-orange-300 hover:border-r-orange-300 focus:border-orange-300;
  }

  /*CONTACTS STYLES*/
  .contacts_wrapper {
    @apply h-screen  w-full flex justify-center bg-green-50   items-center;
  }
  .contactsContent_wrapper {
    @apply h-[80vmax] w-80 flex flex-col md:h-[60vmin] md:w-1/2 lg:w-1/3  sm:flex justify-center  gap-2 items-center bg-white rounded-tl-3xl  rounded-br-3xl shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .contacts_image {
    @apply w-48 lg:w-[30vmin] rounded-tl-3xl  rounded-br-3xl;
  }
  .contactsMainContent_wrapper {
    @apply flex p-[2vmax] flex-col md:flex-row;
  }
  .contacts_info {
    @apply p-4 flex flex-col gap-[2vmax] pl-[2vmax];
  }
  .contacts_h1 {
    @apply absolute top-2 lg:top-4 font-bold italic text-green-600 text-xl 2xl:text-[1.5vmax];
  }
  .contacts_div {
    @apply flex gap-2 text-lg;
  }
  .contacts_imageIcon {
    @apply h-6 w-6;
  }
  .contacts_text {
    @apply text-sm md:text-[1.2vmax];
  }

  /*NAVBAR STYLES*/
  .navBar_Hide {
    @apply flex absolute fixed h-screen z-40 -left-44 lg:-left-40 2xl:-left-[11.4vmax]  w-32 opacity-100     ease-in duration-700;
  }
  .navBar_Show {
    @apply flex absolute fixed h-screen  z-40  left-0  ease-in duration-700;
  }
  .navBar_wrapper {
    @apply h-screen;
  }
  .navBarContent_wrapper {
    @apply flex gap-[1.5vmax];
  }
  .navBar_contentDiv {
    @apply ease-in duration-500  pl-3 gap-7 md:gap-5 xl:gap-7  grid grid-cols-1 h-screen w-40 lg:w-32 2xl:w-[8vmax]   items-center self-start;
  }
  .navBar_itemsWrapper {
    @apply h-[60vmax] sm:h-[60vmin]  self-start grid;
  }
  .navBar_button {
    @apply items-center flex bg-white justify-center border-2 border-green-100 text-green-700 italic w-32  rounded-tl-2xl  rounded-br-2xl h-12 xl:h-14 2xl:text-[1vmax] 2xl:w-[8.5vmax] 2xl:h-[3vmax] text-center   hover:animate-hoverColor shadow-[0_0_10px_2px_rgba(0,0,0,0.6)] hover:border-2;
  }
  .navBar_hiddenDiv {
    @apply hidden lg:block  lg:ml-0 2xl:ml-1   lg:self-center lg:h-screen w-8 2xl:w-[2.3vmax]  lg:flex lg:items-center lg:justify-center;
  }
  .navBar_arrowDiv {
    @apply overflow-hidden w-6  2xl:w-[1.5vmax] 2xl:h-[1.5vmax] rounded-full border-2 border-green-100 hover:border-2 hover:border-white hover:scale-125 duration-200;
  }
  .navBar_arrow {
    @apply 2xl:w-[1.5vmax] object-fill object-cover overflow-hidden    rounded-full;
  }
  .navBar_menuButton {
    @apply flex justify-center items-center absolute lg:hidden w-14 h-7 bg-orange-200 top-5 left-52 rounded-bl-3xl rounded-tl-3xl  rounded-br-3xl rounded-tr-3xl   -z-10  font-['Italianno','cursive']  opacity-0;
  }
  .navBarBox_wrapper {
    @apply z-50   sm:block flex flex-row h-screen pl-3 2xl:pl-[1.7vmax] bg-neutral-200  shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .navBar_crossDiv {
    @apply flex  justify-center opacity-50  text-sm   lg:hidden w-5 h-5 absolute top-1 right-0;
  }
  .navBar_crossImage {
    @apply object-fill opacity-40 bg-white rounded-full w-4 h-4;
  }
  .navBar_contentBox {
    @apply z-50   sm:block flex flex-row h-screen pl-3 2xl:pl-[1.7vmax] bg-neutral-200  shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }


  /*HEAR STYLES*/
  .heart_wrapper {
    @apply opacity-0 pb-4 pr-4 sm:hidden   absolute w-screen h-screen flex justify-center items-center z-0;
  }
  .heart_contentWrapper {
    @apply w-[13vmin] h-[12vmax]  bg-black   absolute overflow-hidden relative flex items-center  justify-center rounded-full;
  }

  .heart_contentDiv {
    @apply flex h-20  -ml-96 absolute gap-32 justify-between animate-move;
  }
  /*SUN STYLES*/

  .sunContent_wrapper {
    @apply ml-2 relative md:mt-5   w-10 h-10 rounded-3xl relative flex  items-center justify-center;
  }
  .contacts_animation {
    @apply opacity-0  z-20  absolute    top-10 left-20  md:top-[12vmax]  lg:top-[10vmax] md:-left-[1vmax];
  }
  .sun_contacts {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax] rounded-full overflow-hidden  shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_contactsImage {
    @apply object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .sun_contactsText {
    @apply text-green-50   opacity-40 left-4 md:left-2 xl:-left-0  lg:opacity-50 top-20 md:top-[7.5vmax] 2xl:top-[6.5vmax]  xl:left-3   2xl:left-0 text-[2.2vmax] md:text-[1.3vmax]    text-white absolute;
  }
  .sun_about {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax]    rounded-full overflow-hidden  shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_aboutImage {
    @apply decoration-red-500 object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .sun_aboutText {
    @apply text-green-50  w-24 top-20 -left-3 md:-left-[5vmax] md:text-end md:w-20  xl:w-24 2xl:w-48  opacity-50     md:top-[7.5vmax]   xl:right-[6vmax] 2xl:text-center md:right-[6vmax] 2xl:right-[4vmax]  2xl:top-[6vmax]   text-[2.2vmax] md:text-[1.3vmax]    absolute;
  }
  .about_animation {
    @apply opacity-0  z-20  absolute    right-0 top-28  md:top-[6vmax] md:right-[8vmax];
  }
  .sun_chat {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax]   rounded-full shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_chatImage {
    @apply object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .sun_chatText {
    @apply text-green-50 left-4  md:-left-[5vmax] opacity-40 lg:opacity-50 top-20 md:top-[2vmax]     text-[2.2vmax] md:text-[1.3vmax]    text-white absolute;
  }
  .chat_animation {
    @apply opacity-0    z-20  absolute   right-24 top-10 md:right-[14vmax] md:-top-[1.5vmax];
  }
  .sun_calculator {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax]    rounded-full  shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_calculatorImage {
    @apply object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .sun_calculatorText {
    @apply text-green-50 text-center  opacity-40 lg:opacity-50 bottom-20 -left-[6vmin] lg:-left-[5vmax]  md:right-[3vmax] md:bottom-[5.5vmax]   text-[2.2vmax] md:text-[1.3vmax]    text-white absolute;
  }
  .calculator_animation {
    @apply opacity-0  absolute z-20  right-24 bottom-10 md:right-[14vmax] md:bottom-[8vmax];
  }
  .sun_achievement {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax]    rounded-full  shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_achievementText {
    @apply text-green-50 opacity-40  -left-[14px] lg:opacity-50 bottom-20 md:bottom-[7.5vmax] 2xl:bottom-[6vmax]   text-[2.2vmax] md:text-[1.3vmax]     text-white absolute;
  }
  .sun_achievementImage {
    @apply object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .achievement_animation {
    @apply opacity-0 z-20  absolute  bottom-32 right-0 md:bottom-[13vmax] md:right-[7vmax];
  }
  .sun_book {
    @apply w-14 h-14 lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax]     rounded-full  shadow-[0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .sun_bookImage {
    @apply object-fill lg:w-[6vmax] lg:h-[6vmax] 2xl:w-[4.5vmax] 2xl:h-[4.5vmax];
  }
  .sun_bookText {
    @apply text-green-50  md:w-32 lg:w-52 opacity-50 lg:opacity-60 left-1 bottom-20 md:bottom-[7.5vmax] 2xl:bottom-[6vmax]  text-[2.2vmax] md:text-[1.3vmax]      text-white absolute;
  }
  .book_animation {
    @apply opacity-0 z-30  absolute   left-20 bottom-10 md:-left-[1vmax] md:bottom-[15vmax] lg:bottom-[13vmax] xl:bottom-[10vmax];
  }
  .sun_text {
    @apply italic
  }

  /*LENG SWITCHER*/
  .lengSwitcherComponent_wrapper {
    @apply flex gap-3 opacity-70;
  }
  .lengSwitcher_en {
    @apply border flex justify-center items-center  w-8 h-6   md:w-[3vmax] md:h-[3vmin] md:text-[1vmax] text-center bg-green-100 hover:bg-sky-200 duration-100 focus:outline-none rounded-br-lg  rounded-tl-lg ;
  }
  .lengSwitcher_ukr {
    @apply border flex justify-center items-center  w-8 h-6   md:w-[3vmax] md:h-[3vmin] md:text-[1vmax]  text-center h-6 bg-green-100 hover:bg-sky-200 duration-100 focus:outline-none rounded-br-lg rounded-tl-lg ;
  }

  /*CLOCK*/
  .clock_wrapper {
    @apply h-[130px] w-[130px] 2xl:h-[8vmax] 2xl:w-[8vmax] rounded-tl-2xl  rounded-br-2xl  from-blue-500  mt-7  relative shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_10px_2px_rgba(0,0,0,0.6)];
  }

  .clock_image {
    @apply h-[130px] w-[130px] 2xl:h-[8vmax] 2xl:w-[8vmax] opacity-20  rounded-2xl object-fill;
  }

  .clock_cogs {
    @apply overflow-hidden absolute left-[60%] bottom-[10%] w-[27px] h-[35px] 2xl:w-[2vmax] 2xl:h-[2.5vmax] rounded-md bg-stone-400;
  }
  .clock_cog1 {
    @apply w-[40px] h-[40px] absolute -left-[25px] -top-[10px] 2xl:w-[2.5vmax]  2xl:h-[2.5vmax] 2xl:-left-[1vmax] 2xl:top-[1.4vmax] animate-[cog_6s_linear_infinite];
  }
  .clock_cog2 {
    @apply w-[50px] h-[50px]  absolute left-[11px] -top-[10px] 2xl:w-[2vmax]  2xl:h-[2vmax] 2xl:top-[0vmax] animate-[cog_6s_linear_infinite_reverse];
  }
  .clock_hourDiv {
    @apply absolute flex justify-center w-[90px] h-[90px];
  }
  .clock_hourArrow {
    @apply w-[8px] h-[55px] 2xl:w-[0.4vmax];
  }
  .clock_minDiv {
    @apply absolute flex justify-center w-[110px] h-[110px];
  }
  .clock_minArrow {
    @apply w-[2px] h-[60px] 2xl:w-[0.3vmax];
  }
  .clock_secDiv {
    @apply absolute flex justify-center w-[120px] h-[120px];
  }
  .clock_secArrow {
    @apply w-[2px] h-[70px] 2xl:w-[0.25vmax];
  }

  /*CHAT*/
  .chat_wr {
    @apply bg-white z-[105] h-full  rounded-tl-2xl     flex flex-col  relative   shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .chat_singOut {
    @apply absolute left-5 top-2 pr-1 pl-1 z-50;
  }
  .chat_hideChat {
    @apply z-50 text-sm  border border-sky-200 bg-green-100  2xl:text-[1vmax] lg:w-[6vmax] lg:h-[1.5vmax] hover:bg-sky-500 hover:text-white absolute duration-150 right-5  top-2  text-sky-600 rounded-xl pr-1 pl-1;
  }
  .chat_wrapper {
    @apply absolute h-screen w-screen flex justify-center items-center;
  }
  .chat_leftMssg {
    @apply w-[35vmin] md:w-[12vmax] h-auto flex  bg-sky-200   rounded-tl-3xl mr-4  rounded-br-3xl border-purple-500 overflow-hidden flex flex-col;
  }
  .chat_rightMssg {
    @apply w-[35vmin] md:w-[12vmax] h-auto flex  bg-purple-200  rounded-tr-3xl ml-4  rounded-bl-3xl border-purple-500 overflow-hidden flex flex-col;
  }
  .chat_icon {
    @apply border rounded-full border-white w-10 h-10  lg:w-[3vmax] lg:h-[3vmax] m-1 overflow-hidden;
  }
  .chat_textAreaDiv {
    @apply bg-white h-full rounded-b-lg  shadow-[inset_0_0_30px_rgba(187,247,208,12),0_0_20px_10px_rgba(0,0,0,0.6)];
  }
  .chat_textArea {
    @apply block   p-2  h-24 w-full text-sm lg:h-[4vmax]   2xl:text-[1.2vmax] italic  text-gray-800 bg-white border-0 h-full;
  }
  .chat_buttonSubmit {
    @apply text-sm 2xl:text-[1vmax]  lg:h-[2vmax]  absolute bottom-2 right-4 inline-flex items-center px-2 py-2.5 text-sm font-medium text-center text-white bg-green-600 opacity-60 rounded-lg hover:bg-blue-800;
  }

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
